
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

button{
    border-radius: 5px;
}

.vedi{
   display: block;
}

.nascosto{
    display: none;
}